<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include("./partials/header") -%>

<body id="blog-canvas">
  <!-- Navbar -->
  <%- include("./partials/navbar") -%>

  <!-- Blog -->
  <nav id="second-nav">
    <a class="close btn" href="/"><i class="far fa-times-circle"></i> Close</a>
  </nav>

  <div class="container">
    <section id="main-section">
      <div class="box blog">
        <div class="post-wrapper post-card" data-id="<%= post._id %>">
          <div class="rating">
            <i class="fa fa-arrow-up"></i>
            <p class="rating-quantity"><%= post.rating %></p>
            <i class="fa fa-arrow-down"></i>
          </div>

          <div class="post-content">
            <div class="post-info">
              <p><a href="/communities/<%= community._id %>" class="community bold"><%= community.name %></a> Posted by
                <a href="/profile/<%= post.userId %>" class="posted-by"><%= post.username %></span> </a> <span
                  class="hours-ago"><%= creationDateString %></span>
            </div>

            <h3 class="post-title"><%= post.title %></h3>

            <% if(post.text) {%>
            <p class="post-text"><%= post.text %></p>
            <% } %>

            <% if(post.imageName) %>
            <img src="./img/posts/<%= post.imageName %>">
            <% %>

            <div class="comments">
              <a class="comments-link" href="/blog">
                <i class="fas fa-comment-alt"></i>
                <span class="comments-quantity"><%= post.commentsQuantity %> Comments</span>
            </a>

            <p class="comments-quantity"></p>
          </div>

          <form mathod="POST" id="add-comment-form">
            <div class="add-comment">
              <textarea name="comment" id="comment-input" placeholder="What are your thoughts?"></textarea>
              <div class="control-panel">
                <button type="submit" class="btn btn-blue btn-add-comment disabled">Comment</button>
              </div>
            </div>
          </form>

          <!-- Break line -->
          <div class="line"></div>

          <!-- Comments -->
          <div class="post-comments">
            <% for(let i = 0; i < 10; i++) { %>
            <div class="comment box">
              <div class="comment-header">
                <a href="/profile" class="posted-by bold">
                  Yarepka
                </a>

                <div class="commented-hours-ago">
                  13 hours ago
                </div>
              </div>

              <div class="comment-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dignissimos culpa necessitatibus
                  reprehenderit excepturi totam iure omnis ipsa blanditiis inventore!</p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
  </div>

  <!-- Community -->
  <aside id="aside-community" class="box">
    <div class="community-header">
      <img src="<%= community.mainImagePath %>" class="community-image" alt="">
      <span class="community-title bold"><%= community.name %></span>
    </div>

    <div class="line"></div>

    <a href="#" class="btn">Join</a>
  </aside>
  </section>
  </div>

  <!-- Login & Sign Up forms -->
  <%- include("./partials/loginSignupForms") -%>

  <!-- Footer -->
  <%- include("./partials/footer") -%>

  <script src="./js/globalFunctions.js"></script>
  <script src="./js/server.js"></script>
  <script src="./js/ui.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/blogMain.js"></script>
</body>

</html>