<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include("./partials/header") -%>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar") -%>

  <section id="main-communities">
    <div class="container">
      <h2 class="title mb-10">Communities</h2>
      <ul class="communities-list box">
        <% communities.forEach(community => { %>
        <li>
          <a href="/communities/<%= community._id %>">
            <img src="<%= community.mainImagePath %>" class="community-image">
            <p><%= community.name %></p>
          </a>
          <a class="btn join" href="">Join</a>
        </li>
        <% }); %>
      </ul>
    </div>
  </section>

  <!-- Login & Sign Up forms -->
  <%- include("./partials/loginSignupForms") -%>

  <!-- Footer -->
  <%- include("./partials/footer") -%>

  <script src="./js/server.js"></script>
  <script src="./js/ui.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>