<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include("./partials/header") -%>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar") -%>

  <section id="main-community" data-id="<%= community._id %>">
    <header>
      <div class="container">
        <div class="content-wrapper">
          <div>
            <img src="<%= community.mainImagePath %>" class="community-image-big">
            <h2 class="community-name"><%= community.name %></h2>
          </div>
          <% if(login) { %>
          <a class="btn <%= community.isJoined? "quit" : "join" %>"><%= community.isJoined? "quit" : "join" %></a>
          <% } %>
        </div>
      </div>
    </header>


    <section id="community-content">
      <div class="container">
        <% if(hasPosts) { %>
        <!-- Controls -->
        <%- include("./partials/controls") -%>

        <!-- Posts -->
        <div class=" posts-container">
        </div>
        <% } else { %>
        <div class="no-post">
          <h2>This Community has no posts yet.</h2>
          <a href="/posts/add-post" class="btn">Fix It</a>
        </div>
        <% } %>
      </div>
    </section>

  </section>

  <!-- Login & Sign Up forms -->
  <%- include("./partials/loginSignupForms") -%>

  <!-- Footer -->
  <%- include("./partials/footer") -%>

  <script src="./js/globalFunctions.js" type="text/javascript"></script>
  <script src="./js/server.js" type="text/javascript"></script>
  <script src="./js/ui.js" type="text/javascript"></script>
  <script src="./js/postLayoutControls.js" type="text/javascript"></script>
  <script src="./js/main.js" type="text/javascript"></script>
  <script src="./js/loadPosts.js" type="text/javascript"></script>
  <script src="./js/subscribtionManager.js" type="text/javascript"></script>
  <script src="./js/communityMain.js" type="text/javascript"></script>
</body>

</html>