<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include("./partials/header") -%>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar") -%>

  <section id="main-community" data-id="<%= community._id %>">
    <header>
      <div class="container">
        <div class="content-wrapper">
          <div>
            <img src="<%= community.mainImagePath %>" class="community-image-big">
            <h2 class="community-name"><%= community.name %></h2>
          </div>
          <a href="#" class="btn">Join</a>
        </div>
      </div>
    </header>

    <section id="community-content">
      <div class="container">
        <!-- Controls -->
        <%- include("./partials/controls") -%>

        <!-- Posts -->
        <div class=" posts-container">
        </div>

      </div>
    </section>


  </section>

  <!-- Login & Sign Up forms -->
  <%- include("./partials/loginSignupForms") -%>

  <!-- Footer -->
  <%- include("./partials/footer") -%>

  <script src="./js/globalFunctions.js"></script>
  <script src="./js/server.js"></script>
  <script src="./js/ui.js"></script>
  <script src="./js/postLayoutControls.js"></script>
  <script src="./js/main.js"></script>
  <script src="./js/loadPosts.js"></script>
  <script src="./js/communityMain.js"></script>
</body>

</html>