<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include("./partials/header") -%>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar") -%>

  <!-- Trends -->
  <section id="trends">
    <div class="container">
      <h3>Trending today</h3>
      <div class="box-trend-wrapper">
        <% trends.forEach(trend => { %>
        <a href="/posts/<%= trend._id %>" class="box-trend"
          style="background: url('/img/posts/<%= trend.imageName %>') no-repeat center center/cover">
          <h3 class="title"><%= trend.title.substring(0, 100) %>...</h3>
        </a>
        <% }); %>
      </div>
    </div>
  </section>

  <!-- Popular Posts -->
  <section id="popular-posts">
    <div class="container">
      <h3>Popular posts</h3>
      <!-- Controls -->
      <%- include("./partials/controls") -%>

      <!-- Posts -->
      <div class="posts-container">
      </div>

    </div>
  </section>

  <!-- Login & Sign Up forms -->
  <%- include("./partials/loginSignupForms") -%>

  <!-- Footer -->
  <%- include("./partials/footer") -%>

  <script src="./js/globalFunctions.js" type="text/javascript"></script>
  <script src="./js/server.js" type="text/javascript"></script>
  <script src="./js/ui.js" type="text/javascript"></script>
  <script src="./js/postLayoutControls.js" type="text/javascript"></script>
  <script src="./js/main.js" type="text/javascript"></script>
  <script src="./js/loadPosts.js" type="text/javascript"></script>
  <script src="./js/indexMain.js" type="text/javascript"></script>
</body>

</html>