<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include("./partials/header") -%>

<body>
  <!-- Navbar -->
  <%- include("./partials/navbar") -%>

  <section id="main-profile">
    <div class="container">
      <div class="profile-header">
        <aside class="profile box mb-10">
          <div class="profile-image-container">
            <div class="profile-image-wrapper">
              <img class="profile-image" src="./img/post.jpg">
              <form>
                <label for="image-file">
                  <i class="fas fa-pencil-alt"></i>
                  <input type="file" id="image-file" hidden="hidden">
                </label>
              </form>
            </div>

            <div class="registered-date">
              <p>Cake day</p>
              <span class="date">December 1, 2018</span>
            </div>
          </div>

          <a href="/posts/add-post" class="btn btn-blue">
            new post
          </a>
        </aside>

        <aside class="communities box mb-10">
          <ul>
            <% communities.forEach(community => { %>
            <li>
              <a href="/communities/<%= community._id %>">
                <img src="<%= community.mainImagePath %>" class="community-image-small">
                <p class="community-name"><%= community.name %></p>
              </a>

              <a href="#" class="btn">Join</a>
            </li>
            <% }) %>
          </ul>

          <a class="btn btn-blue" href="/communities/">View All</a>
        </aside>
      </div>

      <div class="posts">
        <h3 class="mb-10">Your Posts:</h3>
        <!-- Controls -->
        <%- include("./partials/controls") -%>

        <!-- Posts -->
        <div class="posts-container">
        </div>
      </div>
    </div>
  </section>

  <!-- Login & Sign Up forms -->
  <%- include("./partials/loginSignupForms") -%>

  <!-- Footer -->
  <%- include("./partials/footer") -%>

  <script src="./js/globalFunctions.js" type="text/javascript"></script>
  <script src="./js/server.js" type="text/javascript"></script>
  <script src="./js/ui.js" type="text/javascript"></script>
  <script src="./js/postLayoutControls.js" type="text/javascript"></script>
  <script src="./js/main.js" type="text/javascript"></script>
  <script src="./js/loadPosts.js" type="text/javascript"></script>
  <script src="./js/profileMain.js" type="text/javascript"></script>
</body>

</html>